:host {
    .home-nav__item {
        max-width: 100%;
        width: 15%;
        text-align: left;
        padding-left: 55px;
    }

    .home-nav__text {
        color: white;
        display: inline-block;
        padding-top: 15px;
        word-break: break-word;
        position: absolute;
    }
    .leftRs, .rightRs {
        position: absolute;
        top: 45%;
        height: 60px;
        width: 60px;
        background-color: blueviolet;
        border-radius: 50%;
        color: white;
        font-size: 26px;
        border: none;
        outline: none;
    }
    .rightRs {
        right: 0;
        margin-right: 40px;
    }
    .leftRs {
        margin-left: 40px;
    }
    .ngxcarouselPoint {
        display: none;
    }
}